@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
</div>

<style>
    body {
        background-image: url("qbendicion.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>